config profile prof_Default
        option profile_name prof_Default
        option keying_mode  auto
        option p1_prop      aes128-sha1-modp1024
        option ike_lifetime 28800s
        option proto        esp
        option pfs          1
        option p2_prop      aes128-sha1-modp1024
        option ipsec_lifetime 3600s

config ipsecGlobal ipsecGlobal_0
	option status 1
